.idea/
.idea
auxil/
auxil
*.iml
*.aux
*.log
*.maf
*.mtc
*.mtc0
*.out
*.blg
*.gz
*.toc
*.bbl
*.pdf
*.fdb_latexmk
*.fls
*.bcf
*.lof
*.lol
*.lot
*.run.xml
*.brf
*.ilg
*.pygtex
*.pygstyle
*.tdo
*.synctex(busy)
!milestone.tex
!out/milestone1.pdf
!/out/milestone1.pdf
